html, head, body {
  margin: 0; }

body {
  font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
  font-size: 16px; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    body {
      font-size: 24px; } }

a {
  color: #373737;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  text-decoration: underline; }

.titleBar {
  background-color: #373737;
  width: 100%;
  box-shadow: 0px 0.1em 0.5em #000;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
  display: flex; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .titleBar {
      padding-top: 10px;
      flex-wrap: wrap; } }

.logoContainer {
  padding: 10px 10px 10px 10px;
  background-color: #373737;
  width: 140px;
  flex-shrink: 0; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .logoContainer {
      width: 50%; } }

.logoImg {
  width: 90%; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .logoImg {
      width: 70%; } }

.submitContainer {
  padding: 15px 10px 10px 10px;
  background-color: #373737;
  width: 140px;
  flex-shrink: 0; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .submitContainer {
      width: 40%; } }

.submitImage {
  width: 60%; }

.middleContainer {
  padding: 2px;
  flex-grow: 2;
  min-width: 180px; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .middleContainer {
      width: 100%;
      order: 3;
      padding: 10px; } }

.BoardThumb:hover {
  box-shadow: 0px 0.1em 0.5em #0C9BEF; }

.BoardThumb {
  width: 288px;
  height: 358px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  display: inline-block;
  border: 1px solid #CFCFCF;
  cursor: pointer;
  overflow: hidden; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .BoardThumb {
      width: 768px;
      height: 1038px;
      border-radius: 12px;
      margin-top: 24px;
      margin-right: 24px;
      margin-bottom: 24px;
      margin-left: 24px; } }
  .BoardThumb a:hover {
    text-decoration: none; }
  .BoardThumb .imgContainer {
    background-color: #373737; }
  .BoardThumb .img {
    width: 240px;
    height: 180px;
    margin-top: 16px;
    margin-bottom: 16px; }
    @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
      .BoardThumb .img {
        width: 720px;
        height: 540px; } }
  .BoardThumb .title {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    opacity: 1.0;
    background-color: #FAFAFA;
    color: #373737;
    text-align: left; }
    @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
      .BoardThumb .title {
        height: 120px;
        line-height: 120px;
        font-size: 54px;
        padding-left: 30px; } }
  .BoardThumb .url {
    font-size: 13px;
    padding-left: 10px;
    background-color: #FAFAFA;
    color: grey;
    opacity: 1.0;
    font-weight: normal;
    text-align: left; }
    @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
      .BoardThumb .url {
        font-size: 39px;
        padding-left: 30px; } }
  .BoardThumb .description {
    font-size: 16px;
    visibility: visible;
    height: 96px;
    padding: 8px 10px 5px 10px;
    overflow: hidden;
    vertical-align: top;
    margin-bottom: 10px;
    opacity: 1.0;
    background-color: #FAFAFA;
    color: #373737;
    font-weight: normal;
    text-align: left; }
    @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
      .BoardThumb .description {
        height: 336px;
        font-size: 48px;
        padding-left: 30px; } }

.searchContainer {
  display: flex;
  padding-top: 10px; }

.search-input-icon {
  background-color: white;
  width: 32px;
  height: 40px;
  border-radius: 5px 0 0 5px; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .search-input-icon {
      width: 72px;
      height: 80px; } }

.search-input {
  width: 100%;
  height: 52px;
  position: relative; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .search-input {
      height: 92px; } }

.search-input > input {
  width: 100%;
  height: 80%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  height: 40px;
  position: relative;
  border-radius: 0 5px 5px 0;
  background: white; }
  @media (max-device-width: 899px), (max-device-width: 1024px) and (orientation: landscape), (min-resolution: 300dpi), (handheld) {
    .search-input > input {
      font-size: 48px;
      line-height: 52px;
      height: 80px; } }

.search-input > input:focus {
  outline: none; }
